body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}

ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
a:hover{
    text-decoration:none;
}
img{
	border:none;
}
body{
	// background: #EBEBEB;
	// color: white;
}
.header{
	margin:0;
	padding:0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	.container{
		margin: 0 auto;
		border-bottom: 1px dashed #a6a6a6;
		position: relative;
		width: 100%;
		max-width: 1024px;
		.nav-brand{
			padding: 18px 10px 0 20px;
			float: left;
			width: 170px;
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.desktop-menu{
		display: block;
		float: left;
		li{
			display: inline-block;
			font-size: 20px;
			text-transform: capitalize;
			line-height: 1;
			span{
				position: relative;
				display: block;
				padding: 34px 12px 0;
				a{
					color: #a6a6a6;
				}
			}
		}
	}
}
.container{
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	.register-wrapper{
		padding: 10px;
		.register-intro{
			font-size: 1.13em;
			margin-top: 94px;
			padding-right: 200px;
			.register-intro{
				margin-bottom: .8em;
				color: inherit;
				line-height: 1.5em;
				display: block;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
			}
		}	
	}
}
.row{
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	.row-1{
		width: 660px;
		height: 300px;
		.col{
		padding: 15px;
			.control-label{
				display: block;
				margin-bottom: 2px;
				padding: 5px;
				}		
		}
		.form-group{
			float: left;
			display: block;
			padding: 20px;
			width: 43%;
			font-size: 20px;
			.name{
				width: 100%;
				height: 40px;
			}
		}
		
	}	
	.buttons-set{
		width: 323px;
		height: 64px;
		padding-top: 150px;
		padding-left: 20px;
		display: block;
		.btn-submit{
			display: block;
			width: 275px;
			height: 44px;
			position: relative;
			text-align: left;
			color: #fff;
			background: #a6a6a6;
			font-size: 20px;
			cursor: pointer;
		}
	}
}
.social{	
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	.social-links{

	 h3{
		text-align: center;
		color: #757575;
		margin-top: 30px;
		}
		ul{
		overflow: hidden;
		margin:0 0 0 470px;
		}
		li{
			float: left;
			margin-top: 20px;
			margin-left: 5px;
			a{
				color: #000;
			}
		}
		.iconfont{
			font-size: 30px; 
		}
	}
}
p{
	text-align: center;
	margin-top: 20px;
	color: #999999;
	font-size: 12px;
}	
